<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>一像素的线.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AEC07AE1BF5ED6A003B179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AEC07CA1BF5ED6A003B179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AEC07D51BF5ED6A003B179F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
